FORMAT: 1A
HOST: http://api.bs.labs.skyshi.com/

# BillionaireStore

BillionaireStore API Collection.

## User Collection [/user]

### Login [POST /api/user/login]

+ Request (application/json)
    + Body

            {
              "username": "andreas@skyshi.com",
              "password": "andreas123%"
            }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "User",
            "data": {
                "user": {
                    "uid": "5994",
                    "name": "andreasskyshi",
                    "role": "reseller",
                    "mail": "andreas@skyshi.com",
                    "picture": null,
                    "created": "1497410500",
                    "access": "1513588483",
                    "member_expired": "1543597200",
                    "balance": "1596000",
                    "referral_token": "andreasskyshi",
                    "main": {
                        "birth_date": "612464400",
                        "full_name": "Andrew Junior Ongi K",
                        "surname": "Andrew",
                        "gender": "Male",
                        "ktp": "123456",
                        "npwp": "1231245",
                        "phone_number": "08562905595",
                        "phone_number_secondary": "08562905590",
                        "facebook": "facebook.com/example",
                        "twitter": "twitter.com/example",
                        "instagram": "instagram.com/example",
                        "facebook_pixel": "1740647396183628"
                    },
                    "primary_address": {
                        "address": "jl sugeng jeroni 69",
                        "village": "bugisan",
                        "location": {
                            "province": {
                                "name": "D.I. YOGYAKARTA",
                                "province_id": "10177"
                            },
                            "subdistrict": {
                                "name": "BAMBANGLIPURO",
                                "subdistrict_id": null
                            },
                            "city": {
                                "city_id": null,
                                "name": "godean"
                            }
                        },
                        "postal_code": "55251",
                        "country": "Indonesia"
                    },
                    "secondary_address": {
                        "address": "jl sugeng jeroni 71",
                        "village": "bugisan",
                        "location": {
                            "province": {
                                "name": "D.I. YOGYAKARTA",
                                "province_id": "10177"
                            },
                            "subdistrict": {
                                "name": "BAMBANGLIPURO",
                                "subdistrict_id": null
                            },
                            "city": {
                                "city_id": null,
                                "name": "godean"
                            }
                        },
                        "postal_code": "55251",
                        "country": "Indonesia"
                    },
                    "commission_account": {
                        "account_name": "Andrew2321",
                        "account_number": "213321",
                        "bank": "BCA",
                        "branch": "Godean"
                    },
                    "summary": {
                        "created": "1497410500",
                        "transaction_success": {
                            "total": 5,
                            "dropship": 4,
                            "affiliate": 1
                        },
                        "total_commission": "1596000.00"
                    }
                },
                "token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJvcmRlcl9pZCI6IjQ5NjQzIiwidXNlcl9pZCI6IjU5OTQiLCJpc3MiOiJodHRwOlwvXC9icy5sb2NhbCIsImF1ZCI6Imh0dHA6XC9cL2JzLmxvY2FsXC9hcGkiLCJpYXQiOjE1MTM2NTE3NTEsIm5iZiI6MTUxMzY1MTc1MSwiZXhwIjoxNTE0MjU2NTUxfQ.hgcVD8Rg_dFy5lWqc1Owo4VC5wv425KaQjjwN6fnlvw"
            }
        }

### Get Profile [GET /api/user]

+ Request (application/json)
    + Headers
    
            Authorization: JWT eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJvcmRlcl9pZCI6IjQ5NjQzIiwidXNlcl9pZCI6IjU5OTQiLCJpc3MiOiJodHRwOlwvXC9icy5sb2NhbCIsImF1ZCI6Imh0dHA6XC9cL2JzLmxvY2FsXC9hcGkiLCJpYXQiOjE1MTM2NTE3NTEsIm5iZiI6MTUxMzY1MTc1MSwiZXhwIjoxNTE0MjU2NTUxfQ.hgcVD8Rg_dFy5lWqc1Owo4VC5wv425KaQjjwN6fnlvw

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "User",
            "data": {
                "user": {
                    "uid": "5994",
                    "name": "andreasskyshi",
                    "role": "reseller",
                    "mail": "andreas@skyshi.com",
                    "picture": null,
                    "created": "1497410500",
                    "access": "1513651750",
                    "member_expired": "1543597200",
                    "balance": "1596000",
                    "referral_token": "andreasskyshi",
                    "main": {
                        "birth_date": "612464400",
                        "full_name": "Andrew Junior Ongi K",
                        "surname": "Andrew",
                        "gender": "Male",
                        "ktp": "123456",
                        "npwp": "1231245",
                        "phone_number": "08562905595",
                        "phone_number_secondary": "08562905590",
                        "facebook": "facebook.com/example",
                        "twitter": "twitter.com/example",
                        "instagram": "instagram.com/example",
                        "facebook_pixel": "1740647396183628"
                    },
                    "primary_address": {
                        "address": "jl sugeng jeroni 69",
                        "village": "bugisan",
                        "location": {
                            "province": {
                                "name": "D.I. YOGYAKARTA",
                                "province_id": "10177"
                            },
                            "subdistrict": {
                                "name": "BAMBANGLIPURO",
                                "subdistrict_id": null
                            },
                            "city": {
                                "city_id": null,
                                "name": "godean"
                            }
                        },
                        "postal_code": "55251",
                        "country": "Indonesia"
                    },
                    "secondary_address": {
                        "address": "jl sugeng jeroni 71",
                        "village": "bugisan",
                        "location": {
                            "province": {
                                "name": "D.I. YOGYAKARTA",
                                "province_id": "10177"
                            },
                            "subdistrict": {
                                "name": "BAMBANGLIPURO",
                                "subdistrict_id": null
                            },
                            "city": {
                                "city_id": null,
                                "name": "godean"
                            }
                        },
                        "postal_code": "55251",
                        "country": "Indonesia"
                    },
                    "commission_account": {
                        "account_name": "Andrew2321",
                        "account_number": "213321",
                        "bank": "BCA",
                        "branch": "Godean"
                    },
                    "total_commission": "1596000.00"
                }
            }
        }

### Get Profile By ID or Referral Token [GET /api/user/{id}]

+ Request (application/json)
    + Headers
    
            Authorization: JWT eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJvcmRlcl9pZCI6IjQ5NjQzIiwidXNlcl9pZCI6IjU5OTQiLCJpc3MiOiJodHRwOlwvXC9icy5sb2NhbCIsImF1ZCI6Imh0dHA6XC9cL2JzLmxvY2FsXC9hcGkiLCJpYXQiOjE1MTM2NTE3NTEsIm5iZiI6MTUxMzY1MTc1MSwiZXhwIjoxNTE0MjU2NTUxfQ.hgcVD8Rg_dFy5lWqc1Owo4VC5wv425KaQjjwN6fnlvw

+ Parameters
    + id: 2 (string, required)
    
+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "User",
            "data": {
                "user": {
                    "uid": "5994",
                    "name": "andreasskyshi",
                    "role": "reseller",
                    "mail": "andreas@skyshi.com",
                    "picture": null,
                    "created": "1497410500",
                    "access": "1513651750",
                    "member_expired": "1543597200",
                    "balance": "1596000",
                    "referral_token": "andreasskyshi",
                    "main": {
                        "birth_date": "612464400",
                        "full_name": "Andrew Junior Ongi K",
                        "surname": "Andrew",
                        "gender": "Male",
                        "ktp": "123456",
                        "npwp": "1231245",
                        "phone_number": "08562905595",
                        "phone_number_secondary": "08562905590",
                        "facebook": "facebook.com/example",
                        "twitter": "twitter.com/example",
                        "instagram": "instagram.com/example",
                        "facebook_pixel": "1740647396183628"
                    },
                    "primary_address": {
                        "address": "jl sugeng jeroni 69",
                        "village": "bugisan",
                        "location": {
                            "province": {
                                "name": "D.I. YOGYAKARTA",
                                "province_id": "10177"
                            },
                            "subdistrict": {
                                "name": "BAMBANGLIPURO",
                                "subdistrict_id": null
                            },
                            "city": {
                                "city_id": null,
                                "name": "godean"
                            }
                        },
                        "postal_code": "55251",
                        "country": "Indonesia"
                    },
                    "secondary_address": {
                        "address": "jl sugeng jeroni 71",
                        "village": "bugisan",
                        "location": {
                            "province": {
                                "name": "D.I. YOGYAKARTA",
                                "province_id": "10177"
                            },
                            "subdistrict": {
                                "name": "BAMBANGLIPURO",
                                "subdistrict_id": null
                            },
                            "city": {
                                "city_id": null,
                                "name": "godean"
                            }
                        },
                        "postal_code": "55251",
                        "country": "Indonesia"
                    },
                    "commission_account": {
                        "account_name": "Andrew2321",
                        "account_number": "213321",
                        "bank": "BCA",
                        "branch": "Godean"
                    },
                    "total_commission": "1596000.00"
                }
            }
        }
        
### Get Profile By Referral Token [GET /api/user/{referral_token}]

+ Parameters
    + referral_token: 2 (string, required)
    
+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "User",
            "data": {
                "user": {
                    "uid": "5994",
                    "main": {
                        "facebook_pixel": "1740647396183628"
                    }
                }
            }
        }
        
### Update Profile [PUT /api/user/{id}]

+ Parameters
    + id: 5994 (number, required)
    
+ Request (application/json)
    + Headers
    
            Authorization: JWT eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJvcmRlcl9pZCI6IjQ5NjQzIiwidXNlcl9pZCI6IjU5OTQiLCJpc3MiOiJodHRwOlwvXC9icy5sb2NhbCIsImF1ZCI6Imh0dHA6XC9cL2JzLmxvY2FsXC9hcGkiLCJpYXQiOjE1MTM2NTE3NTEsIm5iZiI6MTUxMzY1MTc1MSwiZXhwIjoxNTE0MjU2NTUxfQ.hgcVD8Rg_dFy5lWqc1Owo4VC5wv425KaQjjwN6fnlvw

    + Body

            {
                "username": "andreasskyshi",
                "main": {
                    "birth_date": "05/30/1989",
                    "full_name": "Andrew Junior Ongi K",
                    "surname": "Andrew",
                    "gender": "Male",
                    "ktp": "1235443",
                    "npwp": "1231245",
                    "phone_number": "08562905595",
                    "phone_number_secondary": "08562905590",
                    "facebook": "facebook.com/example",
                    "twitter": "twitter.com/example",
                    "instagram": "instagram.com/example"
                },
                "primary_address": {
                    "address": "jl sugeng jeroni 69", 
                    "village": "bugisan", 
                    "subdistrict": 5783, 
                    "location": "1631", 
                    "postal_code": "55251", 
                    "country": "Indonesia"
                },
                "secondary_address": {
                    "address": "jl sugeng jeroni 71", 
                    "village": "bugisan", 
                    "subdistrict": 5783, 
                    "location": "1631", 
                    "postal_code": "55251", 
                    "country": "Indonesia"
                },
                "commission_account": {
                    "account_name": "Andrew",
                    "account_number": "213321",
                    "bank": "BCA",
                    "branch": "Godean"
                }
            }
            
+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "User",
            "data": {
                "user": {
                    "uid": "5994",
                    "name": "andreasskyshi",
                    "role": "reseller",
                    "mail": "andreas@skyshi.com",
                    "picture": null,
                    "created": "1497410500",
                    "access": "1513654608",
                    "member_expired": "1543597200",
                    "balance": "1596000",
                    "referral_token": "andreasskyshi",
                    "main": {
                        "birth_date": "612464400",
                        "full_name": "Andrew Junior Ongi K",
                        "surname": "Andrew",
                        "gender": "Male",
                        "ktp": "1235443",
                        "npwp": "1231245",
                        "phone_number": "08562905595",
                        "phone_number_secondary": "08562905590",
                        "facebook": "facebook.com/example",
                        "twitter": "twitter.com/example",
                        "instagram": "instagram.com/example",
                        "facebook_pixel": null
                    },
                    "primary_address": {
                        "address": "jl sugeng jeroni 69",
                        "village": "bugisan",
                        "location": {
                            "province": {
                                "province_id": "5",
                                "name": "DI Yogyakarta"
                            },
                            "subdistrict": {
                                "subdistrict_id": "5783",
                                "name": "Godean"
                            },
                            "city": {
                                "city_id": "419",
                                "name": "Kabupaten Sleman"
                            }
                        },
                        "postal_code": "55251",
                        "country": "Indonesia"
                    },
                    "secondary_address": {
                        "address": "jl sugeng jeroni 71",
                        "village": "bugisan",
                        "location": {
                            "province": {
                                "province_id": "5",
                                "name": "DI Yogyakarta"
                            },
                            "subdistrict": {
                                "subdistrict_id": "5783",
                                "name": "Godean"
                            },
                            "city": {
                                "city_id": "419",
                                "name": "Kabupaten Sleman"
                            }
                        },
                        "postal_code": "55251",
                        "country": "Indonesia"
                    },
                    "commission_account": {
                        "account_name": "Andrew",
                        "account_number": "213321",
                        "bank": "BCA",
                        "branch": "Godean"
                    },
                    "total_commission": "1596000.00"
                }
            }
        }
        
### Forgot Password [POST /api/user/request_new_password]
+ Request (application/json)
    + Body
    
            {
                "name": "andrew@pionize.com"
            }
            
+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "User reset success.",
            "meta": [],
            "data": []
        }
        
### Reset Password [POST /api/user/user_pass_reset]
+ Request (application/json)
    + Body
    
            {
                "uid": 3,
                "timestamp": "1492073954",
                "hashed_pass": "xiQW5TD3-FwZEPIjJSPyNskbCGNy2G48o3OrrzSCqlU",
                "new_pass": "andrew456%"
            }
            
+ Response 200 (application/json)

            {
                "username": "andreasskyshi",
                "main": {
                    "birth_date": "05/30/1989",
                    "full_name": "Andrew Junior Ongi K",
                    "surname": "Andrew",
                    "gender": "Male",
                    "ktp": "1235443",
                    "npwp": "1231245",
                    "phone_number": "08562905595",
                    "phone_number_secondary": "08562905590",
                    "facebook": "facebook.com/example",
                    "twitter": "twitter.com/example",
                    "instagram": "instagram.com/example"
                },
                "primary_address": {
                    "address": "jl sugeng jeroni 69", 
                    "village": "bugisan", 
                    "subdistrict": 5783, 
                    "location": "1631", 
                    "postal_code": "55251", 
                    "country": "Indonesia"
                },
                "secondary_address": {
                    "address": "jl sugeng jeroni 71", 
                    "village": "bugisan", 
                    "subdistrict": 5783, 
                    "location": "1631", 
                    "postal_code": "55251", 
                    "country": "Indonesia"
                },
                "commission_account": {
                    "account_name": "Andrew",
                    "account_number": "213321",
                    "bank": "BCA",
                    "branch": "Godean"
                }
            }
       
### Get Reseller Membership status [POST /api/user/membership_status]
    
+ Request (application/json)
    + Headers
    
            Authorization: JWT eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJvcmRlcl9pZCI6IjQ5NjQzIiwidXNlcl9pZCI6IjU5OTQiLCJpc3MiOiJodHRwOlwvXC9icy5sb2NhbCIsImF1ZCI6Imh0dHA6XC9cL2JzLmxvY2FsXC9hcGkiLCJpYXQiOjE1MTM2NTE3NTEsIm5iZiI6MTUxMzY1MTc1MSwiZXhwIjoxNTE0MjU2NTUxfQ.hgcVD8Rg_dFy5lWqc1Owo4VC5wv425KaQjjwN6fnlvw

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "User",
            "data": {
                "code": 200,
                "status": true,
                "message": "User status.",
                "meta": {},
                "data": {
                    "expired": "1526317200",
                    "status": "active",
                    "order_history": [
                        {
                            "created": "1515465382",
                            "status": "shipped",
                            "order_id": "49822",
                            "invoice_number": "RS011849822"
                        },
                        {
                            "created": "1517451324",
                            "status": "pending",
                            "order_id": "50101",
                            "invoice_number": "RS021850101"
                        },
                        {
                            "created": "1517451475",
                            "status": "pending_confirmation",
                            "order_id": "50107",
                            "invoice_number": "RS021850107"
                        },
                        {
                            "created": "1517473206",
                            "status": "pending",
                            "order_id": "50114",
                            "invoice_number": "RS021850114"
                        },
                        {
                            "created": "1517476181",
                            "status": "pending",
                            "order_id": "50116",
                            "invoice_number": "RS021850116"
                        },
                        {
                            "created": "1517478567",
                            "status": "pending",
                            "order_id": "50118",
                            "invoice_number": "RS021850118"
                        },
                        {
                            "created": "1517535583",
                            "status": "pending",
                            "order_id": "50121",
                            "invoice_number": "RS021850121"
                        },
                        {
                            "created": "1517535585",
                            "status": "pending",
                            "order_id": "50120",
                            "invoice_number": "RS021850120"
                        },
                        {
                            "created": "1517538388",
                            "status": "pending",
                            "order_id": "50126",
                            "invoice_number": "RS021850126"
                        },
                        {
                            "created": "1517538393",
                            "status": "pending",
                            "order_id": "50125",
                            "invoice_number": "RS021850125"
                        },
                        {
                            "created": "1517538395",
                            "status": "pending",
                            "order_id": "50124",
                            "invoice_number": "RS021850124"
                        },
                        {
                            "created": "1517540494",
                            "status": "pending",
                            "order_id": "50135",
                            "invoice_number": "RS021850135"
                        },
                        {
                            "created": "1517546020",
                            "status": "pending",
                            "order_id": "50137",
                            "invoice_number": "RS021850137"
                        }
                    ]
                }
            }
        }

## Cart Collection [/cart]

### Add to Cart [POST /api/cart]

+ Request (application/json)
    + Headers
    
            Authorization: JWT eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJvcmRlcl9pZCI6IjQ5NjQzIiwidXNlcl9pZCI6IjU5OTQiLCJpc3MiOiJodHRwOlwvXC9icy5sb2NhbCIsImF1ZCI6Imh0dHA6XC9cL2JzLmxvY2FsXC9hcGkiLCJpYXQiOjE1MTM2NTE3NTEsIm5iZiI6MTUxMzY1MTc1MSwiZXhwIjoxNTE0MjU2NTUxfQ.hgcVD8Rg_dFy5lWqc1Owo4VC5wv425KaQjjwN6fnlvw

    + Body
     
            {
                "products": [
                    {
                        "product_id" : 1,
                        "quantity": 1
                    },
                    {
                        "product_id" : 63,
                        "quantity": 1
                    }
                ]
            }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Product",
            "meta": [],
            "data": {
                "token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJvcmRlcl9pZCI6IjQ5NjQzIiwidXNlcl9pZCI6IjU5OTQiLCJpc3MiOiJodHRwOlwvXC9icy5sb2NhbCIsImF1ZCI6Imh0dHA6XC9cL2JzLmxvY2FsXC9hcGkiLCJpYXQiOjE1MTM2NTY1MTIsIm5iZiI6MTUxMzY1NjUxMiwiZXhwIjoxNTE0MjYxMzEyfQ.Wpjb6iTRltkxS4Z1uST18Wg4AcWTh02uVN91YL59Ero",
                "order": {
                    "order_id": "49643",
                    "invoice_number": null,
                    "shipping_number": null,
                    "order_type": "Dropship",
                    "status": "cart",
                    "transfer_nominal": 0,
                    "created": "1512616452",
                    "changed": 1513656511,
                    "order_total": 367933,
                    "order_total_currency": "IDR",
                    "line_items": [
                        {
                            "label": "30HariJagoJualan-1",
                            "quantity": 1,
                            "unit_price": 103600,
                            "unit_price_currency": "IDR",
                            "total_price": 103600,
                            "total_price_currency": "IDR",
                            "detail": {
                                "uid": "1",
                                "product_id": "1",
                                "sku": "30HariJagoJualan-1",
                                "title": "30 Hari Jago Jualan",
                                "created": "1489985080",
                                "changed": "1513233279",
                                "rating": 0,
                                "price": 259000,
                                "price_currency": "IDR",
                                "sell_price": 103600,
                                "sell_price_currency": "IDR",
                                "stock": 291,
                                "weight": "320.00000 g",
                                "images": [
                                    "http://bs.local/sites/default/files/styles/product_image/public/products/30%20HJJ%20270X360.png?itok=sNwEimrl"
                                ],
                                "program": "Discount 60%",
                                "body": "<div class=\"desc-item\"><a aria-expanded=\"true\" class=\"link-desc\" data-toggle=\"collapse\" href=\"#capter-1\">Capter 1</a></p>\n<div class=\"desc-content collapse in\" id=\"capter-1\">\n<ul class=\"desc-list\">\n<li>You don’t need to have a full time ecommerce business to earn a little extra money</li>\n<li>The modern world is in a continuous movement and people everywhere are</li>\n<li>After ten minutes with Ed Tettemer in the offices of the agency he founded</li>\n<li>How to Season and Care for Your Cast Iron Cookware You have a skillet that came from your mom, and before that your grandma, and has now fallen into your hands.</li>\n</ul>\n</div>\n</div>\n<div class=\"desc-item\"><a aria-expanded=\"false\" class=\"link-desc\" data-toggle=\"collapse\" href=\"#capter-2\">Capter 2</a></p>\n<div class=\"desc-content collapse\" id=\"capter-2\">\n<ul class=\"desc-list\">\n<li>You don’t need to have a full time ecommerce business to earn a little extra money</li>\n<li>The modern world is in a continuous movement and people everywhere are</li>\n<li>After ten minutes with Ed Tettemer in the offices of the agency he founded</li>\n<li>How to Season and Care for Your Cast Iron Cookware You have a skillet that came from your mom, and before that your grandma, and has now fallen into your hands.</li>\n</ul>\n</div>\n</div>\n<div class=\"desc-item\"><a aria-expanded=\"false\" class=\"link-desc\" data-toggle=\"collapse\" href=\"#capter-3\">Capter 3</a></p>\n<div class=\"desc-content collapse\" id=\"capter-3\">\n<ul class=\"desc-list\">\n<li>You don’t need to have a full time ecommerce business to earn a little extra money</li>\n<li>The modern world is in a continuous movement and people everywhere are</li>\n<li>After ten minutes with Ed Tettemer in the offices of the agency he founded</li>\n<li>How to Season and Care for Your Cast Iron Cookware You have a skillet that came from your mom, and before that your grandma, and has now fallen into your hands.</li>\n</ul>\n</div>\n</div>\n<div class=\"desc-item\"><a aria-expanded=\"false\" class=\"link-desc\" data-toggle=\"collapse\" href=\"#capter-4\">Capter 4</a></p>\n<div class=\"desc-content collapse\" id=\"capter-4\">\n<ul class=\"desc-list\">\n<li>You don’t need to have a full time ecommerce business to earn a little extra money</li>\n<li>The modern world is in a continuous movement and people everywhere are</li>\n<li>After ten minutes with Ed Tettemer in the offices of the agency he founded</li>\n<li>How to Season and Care for Your Cast Iron Cookware You have a skillet that came from your mom, and before that your grandma, and has now fallen into your hands.</li>\n</ul>\n</div>\n</div>\n<div class=\"desc-item\"><a aria-expanded=\"false\" class=\"link-desc\" data-toggle=\"collapse\" href=\"#capter-5\">Capter 5</a></p>\n<div class=\"desc-content collapse\" id=\"capter-5\">\n<ul class=\"desc-list\">\n<li>You don’t need to have a full time ecommerce business to earn a little extra money</li>\n<li>The modern world is in a continuous movement and people everywhere are</li>\n<li>After ten minutes with Ed Tettemer in the offices of the agency he founded</li>\n<li>How to Season and Care for Your Cast Iron Cookware You have a skillet that came from your mom, and before that your grandma, and has now fallen into your hands.</li>\n</ul>\n</div>\n</div>\n",
                                "categories": [
                                    {
                                        "tid": "2",
                                        "name": "Book & DVD"
                                    }
                                ],
                                "event": [
                                    {
                                        "tid": "5273",
                                        "name": "Promo"
                                    },
                                    {
                                        "tid": "5274",
                                        "name": "Best Seller"
                                    },
                                    {
                                        "tid": "5275",
                                        "name": "Recommended"
                                    }
                                ],
                                "pre_order": {
                                    "status": false,
                                    "date": null
                                },
                                "type": "product",
                                "shipment_date": null,
                                "summary": "B",
                                "tags": [
                                    {
                                        "tid": "31769",
                                        "name": "cicilan"
                                    },
                                    {
                                        "tid": "31767",
                                        "name": "diskon"
                                    },
                                    {
                                        "tid": "31768",
                                        "name": "murah"
                                    }
                                ]
                            },
                            "isproduct": true,
                            "type": "product",
                            "id": "138636"
                        },
                        {
                            "label": "ProductTest-63",
                            "quantity": 1,
                            "unit_price": "265000",
                            "unit_price_currency": "IDR",
                            "total_price": 265000,
                            "total_price_currency": "IDR",
                            "detail": {
                                "uid": "1",
                                "product_id": "63",
                                "sku": "ProductTest-63",
                                "title": "Product Test",
                                "created": "1507271175",
                                "changed": "1512705389",
                                "rating": 0,
                                "price": 265000,
                                "price_currency": "IDR",
                                "sell_price": "265000",
                                "sell_price_currency": "IDR",
                                "stock": 100,
                                "weight": "300.00000 g",
                                "images": [
                                    "http://bs.local/sites/default/files/styles/product_image/public/products/PRODUCT%20TEST.png?itok=rTMAte8a"
                                ],
                                "program": "Pre-Order",
                                "body": null,
                                "categories": [
                                    {
                                        "tid": "2",
                                        "name": "Book & DVD"
                                    }
                                ],
                                "event": [
                                    {
                                        "tid": "5276",
                                        "name": "Terbaru"
                                    }
                                ],
                                "pre_order": {
                                    "status": true,
                                    "date": "1511152200"
                                },
                                "type": "product",
                                "shipment_date": "1507222800",
                                "summary": null,
                                "tags": []
                            },
                            "isproduct": true,
                            "type": "product",
                            "id": "138637"
                        },
                        {
                            "label": "Unique Number",
                            "quantity": 1,
                            "unit_price": -667,
                            "unit_price_currency": "IDR",
                            "total_price": -667,
                            "total_price_currency": "IDR",
                            "detail": [],
                            "isproduct": false,
                            "type": "custom_random",
                            "id": "138638"
                        }
                    ],
                    "customer_billing": [],
                    "customer_shipping": [],
                    "order_subtotal": 368600,
                    "order_subtotal_currency": "IDR",
                    "product_category": [
                        "discount",
                        "book"
                    ]
                }
            }
        }
        
### Get Current Cart [GET /api/cart]

+ Request (application/json)
    + Headers
    
            Authorization: JWT eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJvcmRlcl9pZCI6IjQ5NjQzIiwidXNlcl9pZCI6IjU5OTQiLCJpc3MiOiJodHRwOlwvXC9icy5sb2NhbCIsImF1ZCI6Imh0dHA6XC9cL2JzLmxvY2FsXC9hcGkiLCJpYXQiOjE1MTM2NTE3NTEsIm5iZiI6MTUxMzY1MTc1MSwiZXhwIjoxNTE0MjU2NTUxfQ.hgcVD8Rg_dFy5lWqc1Owo4VC5wv425KaQjjwN6fnlvw

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Product",
            "meta": [],
            "data": {
                "order": {
                    "order_id": "49643",
                    "invoice_number": null,
                    "shipping_number": null,
                    "order_type": "Dropship",
                    "status": "cart",
                    "transfer_nominal": 0,
                    "created": "1512616452",
                    "changed": 1513656511,
                    "order_total": 367933,
                    "order_total_currency": "IDR",
                    "line_items": [
                        {
                            "label": "30HariJagoJualan-1",
                            "quantity": 1,
                            "unit_price": 103600,
                            "unit_price_currency": "IDR",
                            "total_price": 103600,
                            "total_price_currency": "IDR",
                            "detail": {
                                "uid": "1",
                                "product_id": "1",
                                "sku": "30HariJagoJualan-1",
                                "title": "30 Hari Jago Jualan",
                                "created": "1489985080",
                                "changed": "1513233279",
                                "rating": 0,
                                "price": 259000,
                                "price_currency": "IDR",
                                "sell_price": 103600,
                                "sell_price_currency": "IDR",
                                "stock": 291,
                                "weight": "320.00000 g",
                                "images": [
                                    "http://bs.local/sites/default/files/styles/product_image/public/products/30%20HJJ%20270X360.png?itok=sNwEimrl"
                                ],
                                "program": "Discount 60%",
                                "body": "<div class=\"desc-item\"><a aria-expanded=\"true\" class=\"link-desc\" data-toggle=\"collapse\" href=\"#capter-1\">Capter 1</a></p>\n<div class=\"desc-content collapse in\" id=\"capter-1\">\n<ul class=\"desc-list\">\n<li>You don’t need to have a full time ecommerce business to earn a little extra money</li>\n<li>The modern world is in a continuous movement and people everywhere are</li>\n<li>After ten minutes with Ed Tettemer in the offices of the agency he founded</li>\n<li>How to Season and Care for Your Cast Iron Cookware You have a skillet that came from your mom, and before that your grandma, and has now fallen into your hands.</li>\n</ul>\n</div>\n</div>\n<div class=\"desc-item\"><a aria-expanded=\"false\" class=\"link-desc\" data-toggle=\"collapse\" href=\"#capter-2\">Capter 2</a></p>\n<div class=\"desc-content collapse\" id=\"capter-2\">\n<ul class=\"desc-list\">\n<li>You don’t need to have a full time ecommerce business to earn a little extra money</li>\n<li>The modern world is in a continuous movement and people everywhere are</li>\n<li>After ten minutes with Ed Tettemer in the offices of the agency he founded</li>\n<li>How to Season and Care for Your Cast Iron Cookware You have a skillet that came from your mom, and before that your grandma, and has now fallen into your hands.</li>\n</ul>\n</div>\n</div>\n<div class=\"desc-item\"><a aria-expanded=\"false\" class=\"link-desc\" data-toggle=\"collapse\" href=\"#capter-3\">Capter 3</a></p>\n<div class=\"desc-content collapse\" id=\"capter-3\">\n<ul class=\"desc-list\">\n<li>You don’t need to have a full time ecommerce business to earn a little extra money</li>\n<li>The modern world is in a continuous movement and people everywhere are</li>\n<li>After ten minutes with Ed Tettemer in the offices of the agency he founded</li>\n<li>How to Season and Care for Your Cast Iron Cookware You have a skillet that came from your mom, and before that your grandma, and has now fallen into your hands.</li>\n</ul>\n</div>\n</div>\n<div class=\"desc-item\"><a aria-expanded=\"false\" class=\"link-desc\" data-toggle=\"collapse\" href=\"#capter-4\">Capter 4</a></p>\n<div class=\"desc-content collapse\" id=\"capter-4\">\n<ul class=\"desc-list\">\n<li>You don’t need to have a full time ecommerce business to earn a little extra money</li>\n<li>The modern world is in a continuous movement and people everywhere are</li>\n<li>After ten minutes with Ed Tettemer in the offices of the agency he founded</li>\n<li>How to Season and Care for Your Cast Iron Cookware You have a skillet that came from your mom, and before that your grandma, and has now fallen into your hands.</li>\n</ul>\n</div>\n</div>\n<div class=\"desc-item\"><a aria-expanded=\"false\" class=\"link-desc\" data-toggle=\"collapse\" href=\"#capter-5\">Capter 5</a></p>\n<div class=\"desc-content collapse\" id=\"capter-5\">\n<ul class=\"desc-list\">\n<li>You don’t need to have a full time ecommerce business to earn a little extra money</li>\n<li>The modern world is in a continuous movement and people everywhere are</li>\n<li>After ten minutes with Ed Tettemer in the offices of the agency he founded</li>\n<li>How to Season and Care for Your Cast Iron Cookware You have a skillet that came from your mom, and before that your grandma, and has now fallen into your hands.</li>\n</ul>\n</div>\n</div>\n",
                                "categories": [
                                    {
                                        "tid": "2",
                                        "name": "Book & DVD"
                                    }
                                ],
                                "event": [
                                    {
                                        "tid": "5273",
                                        "name": "Promo"
                                    },
                                    {
                                        "tid": "5274",
                                        "name": "Best Seller"
                                    },
                                    {
                                        "tid": "5275",
                                        "name": "Recommended"
                                    }
                                ],
                                "pre_order": {
                                    "status": false,
                                    "date": null
                                },
                                "type": "product",
                                "shipment_date": null,
                                "summary": "B",
                                "tags": [
                                    {
                                        "tid": "31769",
                                        "name": "cicilan"
                                    },
                                    {
                                        "tid": "31767",
                                        "name": "diskon"
                                    },
                                    {
                                        "tid": "31768",
                                        "name": "murah"
                                    }
                                ]
                            },
                            "isproduct": true,
                            "type": "product",
                            "id": "138636"
                        },
                        {
                            "label": "ProductTest-63",
                            "quantity": 1,
                            "unit_price": "265000",
                            "unit_price_currency": "IDR",
                            "total_price": 265000,
                            "total_price_currency": "IDR",
                            "detail": {
                                "uid": "1",
                                "product_id": "63",
                                "sku": "ProductTest-63",
                                "title": "Product Test",
                                "created": "1507271175",
                                "changed": "1512705389",
                                "rating": 0,
                                "price": 265000,
                                "price_currency": "IDR",
                                "sell_price": "265000",
                                "sell_price_currency": "IDR",
                                "stock": 100,
                                "weight": "300.00000 g",
                                "images": [
                                    "http://bs.local/sites/default/files/styles/product_image/public/products/PRODUCT%20TEST.png?itok=rTMAte8a"
                                ],
                                "program": "Pre-Order",
                                "body": null,
                                "categories": [
                                    {
                                        "tid": "2",
                                        "name": "Book & DVD"
                                    }
                                ],
                                "event": [
                                    {
                                        "tid": "5276",
                                        "name": "Terbaru"
                                    }
                                ],
                                "pre_order": {
                                    "status": true,
                                    "date": "1511152200"
                                },
                                "type": "product",
                                "shipment_date": "1507222800",
                                "summary": null,
                                "tags": []
                            },
                            "isproduct": true,
                            "type": "product",
                            "id": "138637"
                        },
                        {
                            "label": "Unique Number",
                            "quantity": 1,
                            "unit_price": -667,
                            "unit_price_currency": "IDR",
                            "total_price": -667,
                            "total_price_currency": "IDR",
                            "detail": [],
                            "isproduct": false,
                            "type": "custom_random",
                            "id": "138638"
                        }
                    ],
                    "customer_billing": [],
                    "customer_shipping": [],
                    "order_subtotal": 368600,
                    "order_subtotal_currency": "IDR",
                    "product_category": [
                        "discount",
                        "book"
                    ]
                }
            }
        }
        
## Commission Collection [/commission]

### Commission List [GET /api/commission?{?year}l{?page}{?pagesize}]

+ Parameters
    + year: 2017 (optional, number)
    + page: 0 (optional, number)
    + pagesize: 10 (optional, number)
        `set 0 to get all data`

+ Request (application/json)
    + Headers
    
            Authorization: JWT eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJvcmRlcl9pZCI6IjQ5NjQzIiwidXNlcl9pZCI6IjU5OTQiLCJpc3MiOiJodHRwOlwvXC9icy5sb2NhbCIsImF1ZCI6Imh0dHA6XC9cL2JzLmxvY2FsXC9hcGkiLCJpYXQiOjE1MTM2NTE3NTEsIm5iZiI6MTUxMzY1MTc1MSwiZXhwIjoxNTE0MjU2NTUxfQ.hgcVD8Rg_dFy5lWqc1Owo4VC5wv425KaQjjwN6fnlvw
            
+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Commission List",
            "meta": {
                "total": 7
            },
            "data": [
                {
                    "range": {
                        "from": 1511629200,
                        "to": 1514221199
                    },
                    "status": "Unpaid",
                    "detail": {
                        "dropship": {
                            "total": 2,
                            "commission": 138000,
                            "commission_after_tax": 131100
                        },
                        "affiliate": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        },
                        "cod": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        },
                        "bulk": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        },
                        "abroad": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        },
                        "community": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        }
                    }
                },
                {
                    "range": {
                        "from": 1508950800,
                        "to": 1511629199
                    },
                    "status": "Paid",
                    "detail": {
                        "dropship": {
                            "total": 9,
                            "commission": 981000,
                            "commission_after_tax": 931950
                        },
                        "affiliate": {
                            "total": 1,
                            "commission": 258000,
                            "commission_after_tax": 245100
                        },
                        "cod": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        },
                        "bulk": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        },
                        "abroad": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        },
                        "community": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        }
                    }
                },
                {
                    "range": {
                        "from": 1506358800,
                        "to": 1508950799
                    },
                    "status": "Paid",
                    "detail": {
                        "dropship": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        },
                        "affiliate": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        },
                        "cod": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        },
                        "bulk": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        },
                        "abroad": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        },
                        "community": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        }
                    }
                },
                {
                    "range": {
                        "from": 1503680400,
                        "to": 1506358799
                    },
                    "status": "Paid",
                    "detail": {
                        "dropship": {
                            "total": 1,
                            "commission": 69000,
                            "commission_after_tax": 65550
                        },
                        "affiliate": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        },
                        "cod": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        },
                        "bulk": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        },
                        "abroad": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        },
                        "community": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        }
                    }
                },
                {
                    "range": {
                        "from": 1501002000,
                        "to": 1503680399
                    },
                    "status": "Paid",
                    "detail": {
                        "dropship": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        },
                        "affiliate": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        },
                        "cod": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        },
                        "bulk": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        },
                        "abroad": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        },
                        "community": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        }
                    }
                },
                {
                    "range": {
                        "from": 1498410000,
                        "to": 1501001999
                    },
                    "status": "Paid",
                    "detail": {
                        "dropship": {
                            "total": 2,
                            "commission": 126000,
                            "commission_after_tax": 119700
                        },
                        "affiliate": {
                            "total": 1,
                            "commission": 24000,
                            "commission_after_tax": 22800
                        },
                        "cod": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        },
                        "bulk": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        },
                        "abroad": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        },
                        "community": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        }
                    }
                },
                {
                    "range": {
                        "from": 1495731600,
                        "to": 1498409999
                    },
                    "status": "Paid",
                    "detail": {
                        "dropship": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        },
                        "affiliate": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        },
                        "cod": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        },
                        "bulk": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        },
                        "abroad": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        },
                        "community": {
                            "total": 0,
                            "commission": 0,
                            "commission_after_tax": 0
                        }
                    }
                }
            ]
        }
        
### Commission Detail per Month [GET /api/commission/{year}/{month}{?program}{?product_type}{?order_type}]

+ Parameters
    + year: 2017 (number)
    + month: 12 (optional, number)
    + product_type (optional, string)

        + Values
            + `discount`
            + `event`
            + `digital`
            + `book`
            
    + program (optional, string)

        + Values
            + `ready`
            + `promo`
            + `preorder`
            
    + order_type (optional, string)

        + Values
            + `dropship`
            + `affiliate`
            + `regular`
            + `cod`
            + `community`
            + `bulk`
            + `abroad`

+ Request (application/json)
    + Headers
    
            Authorization: JWT eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJvcmRlcl9pZCI6IjQ5NjQzIiwidXNlcl9pZCI6IjU5OTQiLCJpc3MiOiJodHRwOlwvXC9icy5sb2NhbCIsImF1ZCI6Imh0dHA6XC9cL2JzLmxvY2FsXC9hcGkiLCJpYXQiOjE1MTM2NTE3NTEsIm5iZiI6MTUxMzY1MTc1MSwiZXhwIjoxNTE0MjU2NTUxfQ.hgcVD8Rg_dFy5lWqc1Owo4VC5wv425KaQjjwN6fnlvw
            
+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Commission List",
            "meta": [],
            "data": [
                {
                    "created": "1513233279",
                    "invoice_number": "RS121749652",
                    "products": [
                        "30 Hari Jago Jualan"
                    ],
                    "order_type": "Dropship",
                    "program": "test diskon 30 hari jago jualan",
                    "commission": 69000,
                    "commission_after_tax": 65550,
                    "turnover": 259000,
                    "total_products": 1
                }
            ]
        }

### Commission Download [POST /api/commission/download{?year}/{?month}{?program}{?product_type}{?order_type}]

+ Parameters
    + year: 2017 (optional, number)
    + month: 12 (optional, number)
    + product_type (optional, string)

        + Values
            + `discount`
            + `event`
            + `digital`
            + `book`
            
    + program (optional, string)

        + Values
            + `ready`
            + `promo`
            + `preorder`
            
    + order_type (optional, string)

        + Values
            + `dropship`
            + `affiliate`
            + `regular`
            + `cod`
            + `community`
            + `bulk`
            + `abroad`

+ Request (application/json)
    + Headers
    
            Authorization: JWT eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJvcmRlcl9pZCI6IjQ5NjQzIiwidXNlcl9pZCI6IjU5OTQiLCJpc3MiOiJodHRwOlwvXC9icy5sb2NhbCIsImF1ZCI6Imh0dHA6XC9cL2JzLmxvY2FsXC9hcGkiLCJpYXQiOjE1MTM2NTE3NTEsIm5iZiI6MTUxMzY1MTc1MSwiZXhwIjoxNTE0MjU2NTUxfQ.hgcVD8Rg_dFy5lWqc1Owo4VC5wv425KaQjjwN6fnlvw
            
+ Response 200 (application/json)

            {
                "code": 200,
                "status": true,
                "message": "File",
                "meta": {},
                "data": [
                    "http://bs.local/sites/default/files/reseller_commisions/5994-commission.xlsx"
                ]
            }

## Coupon Collection [/coupon]

### Coupon Apply [POST /api/coupon/apply]

+ Request (application/json)
    + Headers
    
            Authorization: JWT eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJvcmRlcl9pZCI6IjQ5NjQzIiwidXNlcl9pZCI6IjU5OTQiLCJpc3MiOiJodHRwOlwvXC9icy5sb2NhbCIsImF1ZCI6Imh0dHA6XC9cL2JzLmxvY2FsXC9hcGkiLCJpYXQiOjE1MTM2NTE3NTEsIm5iZiI6MTUxMzY1MTc1MSwiZXhwIjoxNTE0MjU2NTUxfQ.hgcVD8Rg_dFy5lWqc1Owo4VC5wv425KaQjjwN6fnlvw
            
    + Body

            {
                "coupon_code": "disc_50k"
            }
            
+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Coupon applied",
            "meta": [],
            "data": {
                "order_id": "49643",
                "invoice_number": null,
                "shipping_number": null,
                "order_type": "Dropship",
                "status": "cart",
                "transfer_nominal": 0,
                "created": "1512616452",
                "changed": 1513667863,
                "order_total": 184090,
                "order_total_currency": "IDR",
                "line_items": [
                    {
                        "label": "30HariJagoJualan-1",
                        "quantity": "1.00",
                        "unit_price": "103600",
                        "unit_price_currency": "IDR",
                        "total_price": "103600",
                        "total_price_currency": "IDR",
                        "detail": {
                            "uid": "1",
                            "product_id": "1",
                            "sku": "30HariJagoJualan-1",
                            "title": "30 Hari Jago Jualan",
                            "created": "1489985080",
                            "changed": "1513233279",
                            "rating": 0,
                            "price": 259000,
                            "price_currency": "IDR",
                            "sell_price": 103600,
                            "sell_price_currency": "IDR",
                            "stock": 291,
                            "weight": "320.00000 g",
                            "images": [
                                "http://bs.local/sites/default/files/styles/product_image/public/products/30%20HJJ%20270X360.png?itok=sNwEimrl"
                            ],
                            "program": "Discount 60%",
                            "body": "<div class=\"desc-item\"><a aria-expanded=\"true\" class=\"link-desc\" data-toggle=\"collapse\" href=\"#capter-1\">Capter 1</a></p>\n<div class=\"desc-content collapse in\" id=\"capter-1\">\n<ul class=\"desc-list\">\n<li>You don’t need to have a full time ecommerce business to earn a little extra money</li>\n<li>The modern world is in a continuous movement and people everywhere are</li>\n<li>After ten minutes with Ed Tettemer in the offices of the agency he founded</li>\n<li>How to Season and Care for Your Cast Iron Cookware You have a skillet that came from your mom, and before that your grandma, and has now fallen into your hands.</li>\n</ul>\n</div>\n</div>\n<div class=\"desc-item\"><a aria-expanded=\"false\" class=\"link-desc\" data-toggle=\"collapse\" href=\"#capter-2\">Capter 2</a></p>\n<div class=\"desc-content collapse\" id=\"capter-2\">\n<ul class=\"desc-list\">\n<li>You don’t need to have a full time ecommerce business to earn a little extra money</li>\n<li>The modern world is in a continuous movement and people everywhere are</li>\n<li>After ten minutes with Ed Tettemer in the offices of the agency he founded</li>\n<li>How to Season and Care for Your Cast Iron Cookware You have a skillet that came from your mom, and before that your grandma, and has now fallen into your hands.</li>\n</ul>\n</div>\n</div>\n<div class=\"desc-item\"><a aria-expanded=\"false\" class=\"link-desc\" data-toggle=\"collapse\" href=\"#capter-3\">Capter 3</a></p>\n<div class=\"desc-content collapse\" id=\"capter-3\">\n<ul class=\"desc-list\">\n<li>You don’t need to have a full time ecommerce business to earn a little extra money</li>\n<li>The modern world is in a continuous movement and people everywhere are</li>\n<li>After ten minutes with Ed Tettemer in the offices of the agency he founded</li>\n<li>How to Season and Care for Your Cast Iron Cookware You have a skillet that came from your mom, and before that your grandma, and has now fallen into your hands.</li>\n</ul>\n</div>\n</div>\n<div class=\"desc-item\"><a aria-expanded=\"false\" class=\"link-desc\" data-toggle=\"collapse\" href=\"#capter-4\">Capter 4</a></p>\n<div class=\"desc-content collapse\" id=\"capter-4\">\n<ul class=\"desc-list\">\n<li>You don’t need to have a full time ecommerce business to earn a little extra money</li>\n<li>The modern world is in a continuous movement and people everywhere are</li>\n<li>After ten minutes with Ed Tettemer in the offices of the agency he founded</li>\n<li>How to Season and Care for Your Cast Iron Cookware You have a skillet that came from your mom, and before that your grandma, and has now fallen into your hands.</li>\n</ul>\n</div>\n</div>\n<div class=\"desc-item\"><a aria-expanded=\"false\" class=\"link-desc\" data-toggle=\"collapse\" href=\"#capter-5\">Capter 5</a></p>\n<div class=\"desc-content collapse\" id=\"capter-5\">\n<ul class=\"desc-list\">\n<li>You don’t need to have a full time ecommerce business to earn a little extra money</li>\n<li>The modern world is in a continuous movement and people everywhere are</li>\n<li>After ten minutes with Ed Tettemer in the offices of the agency he founded</li>\n<li>How to Season and Care for Your Cast Iron Cookware You have a skillet that came from your mom, and before that your grandma, and has now fallen into your hands.</li>\n</ul>\n</div>\n</div>\n",
                            "categories": [
                                {
                                    "tid": "2",
                                    "name": "Book & DVD"
                                }
                            ],
                            "event": [
                                {
                                    "tid": "5273",
                                    "name": "Promo"
                                },
                                {
                                    "tid": "5274",
                                    "name": "Best Seller"
                                },
                                {
                                    "tid": "5275",
                                    "name": "Recommended"
                                }
                            ],
                            "pre_order": {
                                "status": false,
                                "date": null
                            },
                            "type": "product",
                            "shipment_date": null,
                            "summary": "B",
                            "tags": [
                                {
                                    "tid": "31769",
                                    "name": "cicilan"
                                },
                                {
                                    "tid": "31767",
                                    "name": "diskon"
                                },
                                {
                                    "tid": "31768",
                                    "name": "murah"
                                }
                            ]
                        },
                        "isproduct": true,
                        "type": "product",
                        "id": "138639"
                    },
                    {
                        "label": "ProductTest-63",
                        "quantity": "1.00",
                        "unit_price": "265000",
                        "unit_price_currency": "IDR",
                        "total_price": "265000",
                        "total_price_currency": "IDR",
                        "detail": {
                            "uid": "1",
                            "product_id": "63",
                            "sku": "ProductTest-63",
                            "title": "Product Test",
                            "created": "1507271175",
                            "changed": "1512705389",
                            "rating": 0,
                            "price": 265000,
                            "price_currency": "IDR",
                            "sell_price": "265000",
                            "sell_price_currency": "IDR",
                            "stock": 100,
                            "weight": "300.00000 g",
                            "images": [
                                "http://bs.local/sites/default/files/styles/product_image/public/products/PRODUCT%20TEST.png?itok=rTMAte8a"
                            ],
                            "program": "Pre-Order",
                            "body": null,
                            "categories": [
                                {
                                    "tid": "2",
                                    "name": "Book & DVD"
                                }
                            ],
                            "event": [
                                {
                                    "tid": "5276",
                                    "name": "Terbaru"
                                }
                            ],
                            "pre_order": {
                                "status": true,
                                "date": "1511152200"
                            },
                            "type": "product",
                            "shipment_date": "1507222800",
                            "summary": null,
                            "tags": []
                        },
                        "isproduct": true,
                        "type": "product",
                        "id": "138640"
                    },
                    {
                        "label": "Unique Number",
                        "quantity": "1.00",
                        "unit_price": "-210",
                        "unit_price_currency": "IDR",
                        "total_price": "-210",
                        "total_price_currency": "IDR",
                        "detail": [],
                        "isproduct": false,
                        "type": "custom_random",
                        "id": "138641"
                    },
                    {
                        "label": "",
                        "quantity": 1,
                        "unit_price": -184300,
                        "unit_price_currency": "IDR",
                        "total_price": -184300,
                        "total_price_currency": "IDR",
                        "detail": [],
                        "isproduct": false,
                        "type": "commerce_discount",
                        "id": "138642"
                    }
                ],
                "customer_billing": [],
                "customer_shipping": [],
                "order_subtotal": 368600,
                "order_subtotal_currency": "IDR",
                "product_category": [
                    "discount",
                    "book"
                ]
            }
        }

## Location Collection [/location]

### Get All Provinces [POST /api/location/province]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Province",
            "meta": [],
            "data": [
                {
                    "province_id": "1",
                    "province": "Bali"
                },
                {
                    "province_id": "2",
                    "province": "Bangka Belitung"
                },
                {
                    "province_id": "3",
                    "province": "Banten"
                },
                {
                    "province_id": "4",
                    "province": "Bengkulu"
                },
                {
                    "province_id": "5",
                    "province": "DI Yogyakarta"
                },
                {
                    "province_id": "6",
                    "province": "DKI Jakarta"
                },
                {
                    "province_id": "7",
                    "province": "Gorontalo"
                },
                {
                    "province_id": "8",
                    "province": "Jambi"
                },
                {
                    "province_id": "9",
                    "province": "Jawa Barat"
                },
                {
                    "province_id": "10",
                    "province": "Jawa Tengah"
                },
                {
                    "province_id": "11",
                    "province": "Jawa Timur"
                },
                {
                    "province_id": "12",
                    "province": "Kalimantan Barat"
                },
                {
                    "province_id": "13",
                    "province": "Kalimantan Selatan"
                },
                {
                    "province_id": "14",
                    "province": "Kalimantan Tengah"
                },
                {
                    "province_id": "15",
                    "province": "Kalimantan Timur"
                },
                {
                    "province_id": "16",
                    "province": "Kalimantan Utara"
                },
                {
                    "province_id": "17",
                    "province": "Kepulauan Riau"
                },
                {
                    "province_id": "18",
                    "province": "Lampung"
                },
                {
                    "province_id": "19",
                    "province": "Maluku"
                },
                {
                    "province_id": "20",
                    "province": "Maluku Utara"
                },
                {
                    "province_id": "21",
                    "province": "Nanggroe Aceh Darussalam (NAD)"
                },
                {
                    "province_id": "22",
                    "province": "Nusa Tenggara Barat (NTB)"
                },
                {
                    "province_id": "23",
                    "province": "Nusa Tenggara Timur (NTT)"
                },
                {
                    "province_id": "24",
                    "province": "Papua"
                },
                {
                    "province_id": "25",
                    "province": "Papua Barat"
                },
                {
                    "province_id": "26",
                    "province": "Riau"
                },
                {
                    "province_id": "27",
                    "province": "Sulawesi Barat"
                },
                {
                    "province_id": "28",
                    "province": "Sulawesi Selatan"
                },
                {
                    "province_id": "29",
                    "province": "Sulawesi Tengah"
                },
                {
                    "province_id": "30",
                    "province": "Sulawesi Tenggara"
                },
                {
                    "province_id": "31",
                    "province": "Sulawesi Utara"
                },
                {
                    "province_id": "32",
                    "province": "Sumatera Barat"
                },
                {
                    "province_id": "33",
                    "province": "Sumatera Selatan"
                },
                {
                    "province_id": "34",
                    "province": "Sumatera Utara"
                }
            ]
        }
        
### Get All City By Provinces [POST /api/location/city]

+ Request (application/json)
    
    + Body

            {
                "province_id": "5"
            }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "City",
            "meta": [],
            "data": [
                {
                    "city_id": "39",
                    "city_name": "Kabupaten Bantul",
                    "province_id": "5",
                    "province": "DI Yogyakarta"
                },
                {
                    "city_id": "135",
                    "city_name": "Kabupaten Gunung Kidul",
                    "province_id": "5",
                    "province": "DI Yogyakarta"
                },
                {
                    "city_id": "210",
                    "city_name": "Kabupaten Kulon Progo",
                    "province_id": "5",
                    "province": "DI Yogyakarta"
                },
                {
                    "city_id": "419",
                    "city_name": "Kabupaten Sleman",
                    "province_id": "5",
                    "province": "DI Yogyakarta"
                },
                {
                    "city_id": "501",
                    "city_name": "Kota Yogyakarta",
                    "province_id": "5",
                    "province": "DI Yogyakarta"
                }
            ]
        }
        
### Get All Subdistrict By City [POST /api/location/subdistrict]

+ Request (application/json)
    
    + Body

            {
                "city_id": "419"
            }
            
+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Subdistrict",
            "meta": [],
            "data": [
                {
                    "subdistrict_id": "5779",
                    "subdistrict_name": "Berbah",
                    "city_id": "419",
                    "city": "Kabupaten Sleman",
                    "province_id": "5",
                    "province": "DI Yogyakarta"
                },
                {
                    "subdistrict_id": "5780",
                    "subdistrict_name": "Cangkringan",
                    "city_id": "419",
                    "city": "Kabupaten Sleman",
                    "province_id": "5",
                    "province": "DI Yogyakarta"
                },
                {
                    "subdistrict_id": "5781",
                    "subdistrict_name": "Depok",
                    "city_id": "419",
                    "city": "Kabupaten Sleman",
                    "province_id": "5",
                    "province": "DI Yogyakarta"
                },
                {
                    "subdistrict_id": "5782",
                    "subdistrict_name": "Gamping",
                    "city_id": "419",
                    "city": "Kabupaten Sleman",
                    "province_id": "5",
                    "province": "DI Yogyakarta"
                },
                {
                    "subdistrict_id": "5783",
                    "subdistrict_name": "Godean",
                    "city_id": "419",
                    "city": "Kabupaten Sleman",
                    "province_id": "5",
                    "province": "DI Yogyakarta"
                },
                {
                    "subdistrict_id": "5784",
                    "subdistrict_name": "Kalasan",
                    "city_id": "419",
                    "city": "Kabupaten Sleman",
                    "province_id": "5",
                    "province": "DI Yogyakarta"
                },
                {
                    "subdistrict_id": "5785",
                    "subdistrict_name": "Minggir",
                    "city_id": "419",
                    "city": "Kabupaten Sleman",
                    "province_id": "5",
                    "province": "DI Yogyakarta"
                },
                {
                    "subdistrict_id": "5786",
                    "subdistrict_name": "Mlati",
                    "city_id": "419",
                    "city": "Kabupaten Sleman",
                    "province_id": "5",
                    "province": "DI Yogyakarta"
                },
                {
                    "subdistrict_id": "5787",
                    "subdistrict_name": "Moyudan",
                    "city_id": "419",
                    "city": "Kabupaten Sleman",
                    "province_id": "5",
                    "province": "DI Yogyakarta"
                },
                {
                    "subdistrict_id": "5788",
                    "subdistrict_name": "Ngaglik",
                    "city_id": "419",
                    "city": "Kabupaten Sleman",
                    "province_id": "5",
                    "province": "DI Yogyakarta"
                },
                {
                    "subdistrict_id": "5789",
                    "subdistrict_name": "Ngemplak",
                    "city_id": "419",
                    "city": "Kabupaten Sleman",
                    "province_id": "5",
                    "province": "DI Yogyakarta"
                },
                {
                    "subdistrict_id": "5790",
                    "subdistrict_name": "Pakem",
                    "city_id": "419",
                    "city": "Kabupaten Sleman",
                    "province_id": "5",
                    "province": "DI Yogyakarta"
                },
                {
                    "subdistrict_id": "5791",
                    "subdistrict_name": "Prambanan",
                    "city_id": "419",
                    "city": "Kabupaten Sleman",
                    "province_id": "5",
                    "province": "DI Yogyakarta"
                },
                {
                    "subdistrict_id": "5792",
                    "subdistrict_name": "Seyegan",
                    "city_id": "419",
                    "city": "Kabupaten Sleman",
                    "province_id": "5",
                    "province": "DI Yogyakarta"
                },
                {
                    "subdistrict_id": "5793",
                    "subdistrict_name": "Sleman",
                    "city_id": "419",
                    "city": "Kabupaten Sleman",
                    "province_id": "5",
                    "province": "DI Yogyakarta"
                },
                {
                    "subdistrict_id": "5794",
                    "subdistrict_name": "Tempel",
                    "city_id": "419",
                    "city": "Kabupaten Sleman",
                    "province_id": "5",
                    "province": "DI Yogyakarta"
                },
                {
                    "subdistrict_id": "5795",
                    "subdistrict_name": "Turi",
                    "city_id": "419",
                    "city": "Kabupaten Sleman",
                    "province_id": "5",
                    "province": "DI Yogyakarta"
                }
            ]
        }

## Marketing Kit Collection [/marketing]

### Get All Marketing Kit [GET /api/marketing{?type}]
> Need to updated after revamp

+ Parameters
    + type (optional, string)

        + Values
            + `Book`
            + `Digital`
            + `Event`
            + `Merchandise`
            + `Paket`
            + `Komunitas`
            
+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Marketing Kit List",
            "meta": {
                "total": "20"
            },
            "data": [
                {
                    "id": "133",
                    "title": "30 Hari Jago Jualan",
                    "body": null,
                    "type": "regular",
                    "url": "https://drive.google.com/drive/folders/0B_VLSioL2TfRMUhWRkdrUk1ESkE?usp=sharing"
                },
                {
                    "id": "135",
                    "title": "7 Kesalahan Fatal Pengusaha Pemula",
                    "body": null,
                    "type": "regular",
                    "url": "https://drive.google.com/open?id=0B-jwsmNn6g5zamVtVk94aHMyWXc"
                },
                {
                    "id": "136",
                    "title": "Dijamin Penghasilan 10 Juta Perbulan",
                    "body": null,
                    "type": "regular",
                    "url": "https://drive.google.com/drive/folders/0B_VLSioL2TfRRUZQRmRZc3BNaGc?usp=sharing"
                },
                {
                    "id": "137",
                    "title": "Easy Copywriting",
                    "body": null,
                    "type": "regular",
                    "url": "https://drive.google.com/drive/folders/0B_VLSioL2TfRVzc1MFZVSXpmUTQ?usp=sharing"
                },
                {
                    "id": "138",
                    "title": "Gara-Gara Facebook",
                    "body": null,
                    "type": "regular",
                    "url": "https://drive.google.com/drive/folders/0B_VLSioL2TfRY19HVDBZdDVraUk?usp=sharing"
                },
                {
                    "id": "139",
                    "title": "Tembus Omset 100 Juta Modal Blackberry",
                    "body": null,
                    "type": "regular",
                    "url": "https://drive.google.com/drive/folders/0B_VLSioL2TfRVkFienlIa1RickE?usp=sharing"
                },
                {
                    "id": "140",
                    "title": "Komik Jago Jualan",
                    "body": null,
                    "type": "regular",
                    "url": "https://drive.google.com/drive/folders/0B_VLSioL2TfROS16Vzk5aHI5NGc?usp=sharing"
                },
                {
                    "id": "141",
                    "title": "Dongkrak Omset Milyaran Dengan Tim Penjualan",
                    "body": null,
                    "type": "regular",
                    "url": "https://drive.google.com/drive/folders/0B_VLSioL2TfRWkt1TE9vM3RZVzQ?usp=sharing"
                },
                {
                    "id": "142",
                    "title": "Kembali Ke Titik Nol",
                    "body": null,
                    "type": "regular",
                    "url": "https://drive.google.com/drive/folders/0B_VLSioL2TfRZ0tTemV0TkpkVE0?usp=sharing"
                },
                {
                    "id": "143",
                    "title": "Berani Jadi Taubaters",
                    "body": null,
                    "type": "regular",
                    "url": "https://drive.google.com/drive/folders/0B_VLSioL2TfRbzUwM2VOaEp4ajQ?usp=sharing"
                }
            ]
        }

### Get Marketing Kit By ID [GET /api/marketing/{id}]

+ Parameters
    
    + id: 22 (number, required)
            
+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Marketing kit data.",
            "meta": [],
            "data": {
                "id": "133",
                "title": "30 Hari Jago Jualan",
                "body": null,
                "type": "regular",
                "url": "https://drive.google.com/drive/folders/0B_VLSioL2TfRMUhWRkdrUk1ESkE?usp=sharing"
            }
        }

## Material Collection [/material]

### Get All Material [GET /api/material{?page}{?pagesize}{?category}]

+ Parameters
    + page: 0 (optional, number)
    + pagesize: 10 (optional, number)
    + category: kurikulum (optional, string)
    
        + Values:
            + `kurikulum`
            + `sharing`
            
+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Material List",
            "meta": {
                "total": "29"
            },
            "data": [
                {
                    "id": "174",
                    "title": "Module 3 - Membangun Personal Branding",
                    "body": "<p>Sebelum kita tahu bagaimana cara membangun personal branding, yuk kita pahami dulu apa itu personal branding. Supaya Anda mudah untuk memahaminya, coba Anda jawab dengan spontan apa yang terlintas di benak Anda saat melihat gambar dan mendengar nama yang ditulis<br />\r\ndibawah ini :<br />\r\n- Soekarno adalah …………………….<br />\r\n- Steve Jobs adalah …………………..<br />\r\n- Tom Cruise adalah ………………….<br />\r\n- Cristiano Ronaldo adalah ……………<br />\r\n- Mario Teguh adalah …………………<br />\r\n- Dewa Eka Prayoga adalah …………….<br />\r\n- Lady Gaga adalah ………………………….<br />\r\nJadi personal branding itu adalah persepsi yang tertanam dan terpelihara dalam benak orang lain. Istilah gampangnya, personal branding itu bagaimana Anda memasarkan diri Anda sendiri. “your brand is what people say about you when you are not in the room” (Jeff Bezos, Amazon)<br />\r\n<br />\r\nPersonal branding ini sangat penting untuk hidup, karir, dan bisnis Anda, Anda juga harus mengetahui apa saja manfaat memiliki personal branding yang bagus</p>\r\n\r\n<p>Download Modulnya <a href=\"http://drive.google.com/open?id=0B6sHiqsG7ANqSm5ZcEN4VTNRb3M\" target=\"_blank\">disini</a></p>\r\n\r\n<p>&nbsp;</p>\r\n",
                    "image": null,
                    "url": "https://www.youtube.com/watch?v=aHP4kwY7SiY&feature=youtu.be",
                    "material_category": "Sharing"
                },
                {
                    "id": "175",
                    "title": "Modul 1 - Mindset",
                    "body": "<p>cara main dan aturan menjadi Reseller Billionaire Store, kali ini &nbsp;kita kita awali dengan pembahasan “ Setting Your Goal”. Saya &nbsp;yakin &nbsp;teman-teman &nbsp;semua &nbsp;pasti &nbsp;tau,pentingnya &nbsp;menentukan arah dalam kehidupan. Saya yakin teman-teman semua pasti sudah tahu arah hidup yang bakalan teman-teman tuju. Dan &nbsp;Juga saya yakin teman-teman sudah tahu kalau nasib itu KITA &nbsp;yang bisa bisa tentukan.</p>\r\n\r\n<p>Silakan download Ebooknya <a href=\"https://drive.google.com/open?id=0B6sHiqsG7ANqajNOcGU0UXJBVTQ\" target=\"_blank\">disini</a></p>\r\n",
                    "image": null,
                    "url": "https://www.youtube.com/watch?v=qyE8DZvl2us&feature=youtu.be",
                    "material_category": "Sharing"
                },
                {
                    "id": "176",
                    "title": "Modul 2  - Membangun Kolam",
                    "body": "<p>Sebuah bisnis itu akan berjalan jika orang didalamnya sudah persisten, satu irama dan satu frekuensi, sebelum kita ke materi yang lebih jauh mengenai persistensi dalam bisnis.kita mulai dengan hal yang paling kecil. pada materi kali ini akan banyak membahas dan menyamakan tools penting yang harus &nbsp;ada di gadget anda, baik mobile ataupun desktop.</p>\r\n\r\n<p><strong>Silakan Download Ebooknya</strong></p>\r\n\r\n<p><a href=\"https://drive.google.com/open?id=0B6sHiqsG7ANqQUpTenRCYkEtcms\"><img alt=\"\" src=\"/sites/default/files/clickdownload.jpg\" /></a></p>\r\n",
                    "image": null,
                    "url": "https://www.youtube.com/watch?v=NHfgCTFJ1vU&feature=youtu.be",
                    "material_category": "Kurikulum"
                },
                {
                    "id": "178",
                    "title": "Lembar Kerja Reseller Billionaire Store",
                    "body": "<p>Setelah tadi kita membahas bagaiman merubah mindset, cara main dan aturan menjadi Reseller Billionaire Store, Kali ini kita awali dengan pembahasan \" Setting Your Goal\". Saya yakin teman-teman semua pasti tahu, pentingnya menentukan arah dalam kehidupan. Saya yakin teman-teman semua pasti sudah tahu arah hidup yang bakalan teman-teman tuju. Dan, Juga saya yakin teman-teman sudah tahu kalau nasib itu KITA yang bisa tentukan.</p>\r\n\r\n<p><strong>Silakan Downlod Ebooknya</strong></p>\r\n\r\n<p><a href=\"https://drive.google.com/open?id=0B6sHiqsG7ANqUnJRekZGSk9ZOWM\" target=\"_blank\"><img alt=\"\" height=\"103\" src=\"/sites/default/files/clickdownload.jpg\" width=\"169\" /></a></p>\r\n",
                    "image": null,
                    "url": null,
                    "material_category": "Sharing"
                },
                {
                    "id": "198",
                    "title": "Bonus Video 17 Teknik Closing",
                    "body": "<p>Materi Seminar 17 Teknik Closing dari Coach Dewa Eka Prayoga. Kini Anda bakal tahu Cara Mudah Closing, Tanpa Harus Pusing. Penting! ^^</p>\r\n",
                    "image": null,
                    "url": "https://www.youtube.com/watch?v=JgF_81Pt7x4&feature=youtu.be",
                    "material_category": "Kurikulum"
                },
                {
                    "id": "199",
                    "title": "Video 30 Hari Jago Jualan",
                    "body": "<p>Rahasia Jualan Laris, tanpa Ngemis-ngemis ^^</p>\r\n",
                    "image": null,
                    "url": "https://www.youtube.com/watch?v=PG1W5EU0Bys&feature=youtu.be",
                    "material_category": "Sharing"
                },
                {
                    "id": "200",
                    "title": "Video Jago Jualan 1",
                    "body": null,
                    "image": null,
                    "url": "https://www.youtube.com/watch?v=Rkwu2ej_TZI&feature=youtu.be",
                    "material_category": "Kurikulum"
                },
                {
                    "id": "201",
                    "title": "Video Jago Jualan 2",
                    "body": null,
                    "image": null,
                    "url": "https://www.youtube.com/watch?v=7zNccJvjOEU&feature=youtu.be",
                    "material_category": "Sharing"
                },
                {
                    "id": "203",
                    "title": "Video Hidup dalam Ilusi Riba",
                    "body": null,
                    "image": null,
                    "url": "https://www.youtube.com/watch?v=VXQekMvgIZc&feature=youtu.be",
                    "material_category": "Kurikulum"
                },
                {
                    "id": "204",
                    "title": "Video Berani Jadi Taubaters",
                    "body": null,
                    "image": null,
                    "url": "https://www.youtube.com/watch?v=USKfMYArods&feature=youtu.be",
                    "material_category": null
                }
            ]
        }

### Get Material By ID [GET /api/material/{id}]

+ Parameters
    
    + id: 22 (number, required)
            
+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Material data.",
            "meta": [],
            "data": {
                "id": "174",
                "title": "Module 3 - Membangun Personal Branding",
                "body": "<p>Sebelum kita tahu bagaimana cara membangun personal branding, yuk kita pahami dulu apa itu personal branding. Supaya Anda mudah untuk memahaminya, coba Anda jawab dengan spontan apa yang terlintas di benak Anda saat melihat gambar dan mendengar nama yang ditulis<br />\r\ndibawah ini :<br />\r\n- Soekarno adalah …………………….<br />\r\n- Steve Jobs adalah …………………..<br />\r\n- Tom Cruise adalah ………………….<br />\r\n- Cristiano Ronaldo adalah ……………<br />\r\n- Mario Teguh adalah …………………<br />\r\n- Dewa Eka Prayoga adalah …………….<br />\r\n- Lady Gaga adalah ………………………….<br />\r\nJadi personal branding itu adalah persepsi yang tertanam dan terpelihara dalam benak orang lain. Istilah gampangnya, personal branding itu bagaimana Anda memasarkan diri Anda sendiri. “your brand is what people say about you when you are not in the room” (Jeff Bezos, Amazon)<br />\r\n<br />\r\nPersonal branding ini sangat penting untuk hidup, karir, dan bisnis Anda, Anda juga harus mengetahui apa saja manfaat memiliki personal branding yang bagus</p>\r\n\r\n<p>Download Modulnya <a href=\"http://drive.google.com/open?id=0B6sHiqsG7ANqSm5ZcEN4VTNRb3M\" target=\"_blank\">disini</a></p>\r\n\r\n<p>&nbsp;</p>\r\n",
                "image": null,
                "url": "https://www.youtube.com/watch?v=aHP4kwY7SiY&feature=youtu.be"
            }
        }

## Order Collection [/order]

### Order Create (Checkout Complete) [POST /api/order]

+ Request (application/json)
    + Headers
    
            Authorization: JWT eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJvcmRlcl9pZCI6IjQ5NjQzIiwidXNlcl9pZCI6IjU5OTQiLCJpc3MiOiJodHRwOlwvXC9icy5sb2NhbCIsImF1ZCI6Imh0dHA6XC9cL2JzLmxvY2FsXC9hcGkiLCJpYXQiOjE1MTM2NTE3NTEsIm5iZiI6MTUxMzY1MTc1MSwiZXhwIjoxNTE0MjU2NTUxfQ.hgcVD8Rg_dFy5lWqc1Owo4VC5wv425KaQjjwN6fnlvw
            
    + Body

            {
                "shipping": {
                    "fullname": "Test Skyshi",
                    "address": "Jalan Sugeng Jeroni 69",
                    "subdistrict": "1409",
                    "country": "Indonesia",
                    "phone_no": "08562905595",
                    "email": "scorpyku+testnih@gmail.com",
                    "username": "andreasskyshi",
                    "password": "andrew123%"
                },
                "billing": {
                    "fullname": "Test Skyshi",
                    "subdistrict": "1409",
[...]
